.title{
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.sponsorship-wrapper{
    background-color: white;
}

.sponsorship-img{
    width: 50vw;
}

/* timeline */
.event-header{
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 0.1fr;
    background-color: white;
    border-radius: 10px;
}
.event-header div{
    padding: 20px;
}
.event-description{
    margin-left: 10px;
}
.event-date{
    border-right: 2px solid #a6a6a6;
    min-width: 153px;
}
.down-btn{
    display: none;
}
.up-btn{
    display: flex;
    align-items: center;
}
.up-btn, .down-btn{
    height: inherit;
    font-size: 20px;
    color: #a6a6a6;
}
.up-btn:hover, .down-btn:hover{
    color: black;
}
.show-event .up-btn{
    display: none;
}
.show-event .down-btn{
    height: inherit;
    display: flex;
    align-items: center;
}
.event-content{
    display: none;
    background-color: white;
    padding: 20px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
/* .event-content ul{} */
.show-event .event-content{
    display: block;
    border-top: 2px solid #a6a6a6;
}

/* registration */
.registration-wrapper{
    /* background-color: aliceblue; */
    background-image: url("test-gif.gif");
}

.registration-bg-cover{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.registration-logo{
    height: 80px;
}

.registration-logo-wrapper{
    display: flex;
    justify-content: center;
}

.registration-text{
    text-align: center;
    width: 50vw;
    margin: 20px 0;
    /* display: flex;
    justify-content: center; */
}

.register-btn-wrapper{
    padding: 30px;
    text-align: center;
}

.register-btn-wrapper a{
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
}

.register-btn-wrapper a:hover{
    background-color: white;
    color: black;
    transition: 0.3s ease-in;
    cursor: pointer;
    padding: 10px 30px;
}

@media screen and (max-width: 680px) {
    .sponsorship-img{
        width: 80vw;
    }
}

@media screen and (max-width: 520px) {
    .sponsorship-img{
        width: 100%;
    }
    .registration-text{
        width: 70vw;
    }
    .event-date, .event-description{
        font-size: 16px;
    }
    .event-header{
        display: grid;
        grid-template-columns: 2fr 5fr 0.4fr;
    }
    .event-header div{
        padding: 18px;
    }
    .event-description{
        margin-left: 6px;
    }
    .event-date{
        border-right: 2px solid #a6a6a6;
        min-width: 100px;
    }
}

@media screen and (max-width: 400px) {
    .event-date, .event-description{
        font-size: 14px;
    }
    .title{
        font-size: 10px;
    }
}